html, body {
	margin:           0;
	padding:          0;
	overflow:         hidden;
	height:           100%;
	width:            100%;
}
#wrap {
	height: 100%;
	width:  100%;

	background-color: #031f29;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;

	user-select: none;
}


#info{	
	height: 10%;
	width: 100%;
	
	background-color: #0f6987;
	opacity: 0.7;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	
	display: flex;
	justify-content: center;
}
#info #left{
	float: left;
}
#info #clock{
	margin: auto;
	width: fit-content;
	height: fit-content;
	
	font-size: 2.25vw;
	color: whitesmoke;
}
#info #right{
	float: left;
}


#page{
	position: relative;
	height: 90%;
	width: 100%;
} #page #bookmarks{
	position: relative;
	margin: auto;

	width: 40%;
	height: 65%;
	top: 10%;

	border-color: #6c6a7d;
	border-radius: 1vw;
	border-style: solid;
	border-width: 0.2vw;

	background-color: #1e1e2e;
	opacity: 0.8;

	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} 

/*feels like there's a better way to do the sections but hey idk*/
#page #bookmarks #section-one{
	float: left;

	text-align: center;

	padding-left: 2%;
	padding-top: 2%;

	width: 48%;
	height: 40.5%;
} #page #bookmarks #section-two{
	float: left;

	text-align: center;

	padding-right: 2%;
	padding-top: 2%;

	width: 48%;
	height: 40.5%;
} #page #bookmarks #section-three{
	float: left;

	text-align: center;

	padding-bottom: 2%;
	padding-left: 2%;

	width: 48%;
	height: 40.5%;
} #page #bookmarks #section-four{
	float: left;
	
	text-align: center;

	padding-bottom: 2%;
	padding-right: 2%;

	width: 48%;
	height: 40.5%;
} 

header{
	padding-top: 2%;
	height: 8%;

	text-align: center;
	text-decoration: underline #8a6d83 5px;
	color: #f3c2e7;

	font-size: 2vw;
}

h1{
	margin: 0%;
	color: #f3c2e7;
	font-size: 1.75vw;
}

a{
	color: #a26b94;
	font-size: 1.4vw;
	height: fit-content;
} a:link{
	text-decoration: none;
} a:hover{
	cursor: default;
	color: #804772;
} a:focus{
	outline: none;
	color: #804772;
}

#page #search-bar{
	position: relative;
	margin: auto;
	display: block;

	width: 37.7%;
	height: 3.5%;
	top: 20%;

	font-size: 1.75vw;
	color: #a6a6a6;
	padding: 1%;

	border-color: #6c6a7d;
	border-radius: 1vw;
	border-style: solid;
	border-width: 0.3vw;

	background-color: #1e1e2e;
	opacity: 0.8;

	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#search-bar:focus{
	outline: none;
}